<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Affiliate.com</string>
			<key>File</key>
			<string>Affiliate.com</string>
		</dict>	
        <dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Copeac</string>
			<key>File</key>
			<string>Copeac</string>
		</dict>	   
        <dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>CPAStorm</string>
			<key>File</key>
			<string>CPAStorm</string>
		</dict>	       
        <dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>DirectLeads</string>
			<key>File</key>
			<string>DirectLeads</string>
		</dict>
        <dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GlobalDirectMedia</string>
			<key>File</key>
			<string>GlobalDirectMedia</string>
		</dict>	
        <dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>MarketLeverage</string>
			<key>File</key>
			<string>MarketLeverage</string>
		</dict>	
        <dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Maxbounty</string>
			<key>File</key>
			<string>Maxbounty</string>
		</dict>	
        <dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>NeverblueAds</string>
			<key>File</key>
			<string>NeverblueAds</string>
		</dict>	
         <dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Offerfusion</string>
			<key>File</key>
			<string>Offerfusion</string>
		</dict>	                           
	</array>
	<key>Title</key>
	<string>Affiliate Stats</string>
</dict>
</plist>
